<a href="https://colab.research.google.com/github/AdhavanHero/Python-Machine-Learning/blob/main/Machine%20Learning%20with%20Nominals%20(Multi%20Linear%20Regression)/C_ar_PricePrediction_(with_Nominals).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving carprices.csv to carprices.csv

In [ ]:
import numpy as np 
import pandas as pd
from sklearn import linear_model

import math

In [ ]:
import io
df = pd.read_csv(io.BytesIO(uploaded['carprices.csv']))

In [ ]:
df

                Car Model  Mileage  Sell Price($)  Age(yrs)
0                  BMW X5    69000          18000         6
1                  BMW X5    35000          34000         3
2                  BMW X5    57000          26100         5
3                  BMW X5    22500          40000         2
4                  BMW X5    46000          31500         4
5                 Audi A5    59000          29400         5
6                 Audi A5    52000          32000         5
7                 Audi A5    72000          19300         6
8                 Audi A5    91000          12000         8
9   Mercedez Benz C class    67000          22000         6
10  Mercedez Benz C class    83000          20000         7
11  Mercedez Benz C class    79000          21000         7
12  Mercedez Benz C class    59000          33000         5

In [ ]:
dummies = pd.get_dummies(df,['Car Model'])

In [ ]:
dummies = dummies.drop(['Sell Price($)','Mileage','Age(yrs)'],axis='columns')

In [ ]:
merged = pd.concat([df,dummies],axis='columns')
merged

,Car Model,Mileage,Sell Price($),Age(yrs),Car Model_Audi A5,Car Model_BMW X5,Car Model_Mercedez Benz C class
0,BMW X5,69000,18000,6,0,1,0
1,BMW X5,35000,34000,3,0,1,0
2,BMW X5,57000,26100,5,0,1,0
3,BMW X5,22500,40000,2,0,1,0
4,BMW X5,46000,31500,4,0,1,0
5,Audi A5,59000,29400,5,1,0,0
6,Audi A5,52000,32000,5,1,0,0
7,Audi A5,72000,19300,6,1,0,0
8,Audi A5,91000,12000,8,1,0,0
9,Mercedez Benz C class,67000,22000,6,0,0,1
10,Mercedez Benz C class,83000,20000,7,0,0,1
11,Mercedez Benz C class,79000,21000,7,0,0,1
12,Mercedez Benz C class,59000,33000,5,0,0,1

In [ ]:
final = merged.drop(['Car Model','Car Model_BMW X5'],axis='columns')
final

,Mileage,Sell Price($),Age(yrs),Car Model_Audi A5,Car Model_Mercedez Benz C class
0,69000,18000,6,0,0
1,35000,34000,3,0,0
2,57000,26100,5,0,0
3,22500,40000,2,0,0
4,46000,31500,4,0,0
5,59000,29400,5,1,0
6,52000,32000,5,1,0
7,72000,19300,6,1,0
8,91000,12000,8,1,0
9,67000,22000,6,0,1
10,83000,20000,7,0,1
11,79000,21000,7,0,1
12,59000,33000,5,0,1

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [ ]:
x = final.drop('Sell Price($)',axis='columns')

In [ ]:
x

    Mileage  Age(yrs)  Car Model_Audi A5  Car Model_Mercedez Benz C class
0     69000         6                  0                                0
1     35000         3                  0                                0
2     57000         5                  0                                0
3     22500         2                  0                                0
4     46000         4                  0                                0
5     59000         5                  1                                0
6     52000         5                  1                                0
7     72000         6                  1                                0
8     91000         8                  1                                0
9     67000         6                  0                                1
10    83000         7                  0                                1
11    79000         7                  0                                1
12    59000         5                  0                                1

In [ ]:
y = final['Sell Price($)']

In [ ]:
model.fit(x,y)

LinearRegression()

In [ ]:
model.predict([[59000,5,0,1]])

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([30477.15426153])

In [ ]:
model.score(x,y)

0.9417050937281083