<a href="https://colab.research.google.com/github/AdhavanHero/Python-Machine-Learning/blob/main/Decision%20Tree/Titanic_Passangers_survivors_Prediction_ML_using_Desision_Tree_and_Test_split_train.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np 
import pandas as pd
from sklearn import linear_model

import math
from google.colab import files
uploaded = files.upload()

Saving titanic.csv to titanic.csv

In [ ]:
import io
df = pd.read_csv(io.BytesIO(uploaded['titanic.csv']))
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
inputs =df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns')
target =df['Survived']

In [ ]:
target

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [ ]:
inputs

     Survived  Pclass     Sex   Age     Fare
0           0       3    male  22.0   7.2500
1           1       1  female  38.0  71.2833
2           1       3  female  26.0   7.9250
3           1       1  female  35.0  53.1000
4           0       3    male  35.0   8.0500
..        ...     ...     ...   ...      ...
886         0       2    male  27.0  13.0000
887         1       1  female  19.0  30.0000
888         0       3  female   NaN  23.4500
889         1       1    male  26.0  30.0000
890         0       3    male  32.0   7.7500

[891 rows x 5 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le_sex =LabelEncoder()

In [ ]:
inputs['Sex_new'] = le_sex.fit_transform(inputs['Sex'])

In [ ]:
inputs

     Survived  Pclass     Sex   Age     Fare  Sex_new
0           0       3    male  22.0   7.2500        1
1           1       1  female  38.0  71.2833        0
2           1       3  female  26.0   7.9250        0
3           1       1  female  35.0  53.1000        0
4           0       3    male  35.0   8.0500        1
..        ...     ...     ...   ...      ...      ...
886         0       2    male  27.0  13.0000        1
887         1       1  female  19.0  30.0000        0
888         0       3  female   NaN  23.4500        0
889         1       1    male  26.0  30.0000        1
890         0       3    male  32.0   7.7500        1

[891 rows x 6 columns]

In [ ]:
inputs_n =inputs.drop(['Sex'],axis='columns')

In [ ]:
inputs_n

     Survived  Pclass   Age     Fare  Sex_new
0           0       3  22.0   7.2500        1
1           1       1  38.0  71.2833        0
2           1       3  26.0   7.9250        0
3           1       1  35.0  53.1000        0
4           0       3  35.0   8.0500        1
..        ...     ...   ...      ...      ...
886         0       2  27.0  13.0000        1
887         1       1  19.0  30.0000        0
888         0       3   NaN  23.4500        0
889         1       1  26.0  30.0000        1
890         0       3  32.0   7.7500        1

[891 rows x 5 columns]

In [ ]:
from sklearn import tree

In [ ]:
model =tree.DecisionTreeClassifier()

In [ ]:
df2 = df["Age"].median()
df2
#newdf = inputs_n['Age'].fillna(28) 
#newdf
inputs_n["Age"].fillna("28", inplace = True) #perfect code for filling paticular rowns and columns
inputs_n

     Survived  Pclass   Age     Fare  Sex_new
0           0       3  22.0   7.2500        1
1           1       1  38.0  71.2833        0
2           1       3  26.0   7.9250        0
3           1       1  35.0  53.1000        0
4           0       3  35.0   8.0500        1
..        ...     ...   ...      ...      ...
886         0       2  27.0  13.0000        1
887         1       1  19.0  30.0000        0
888         0       3    28  23.4500        0
889         1       1  26.0  30.0000        1
890         0       3  32.0   7.7500        1

[891 rows x 5 columns]

In [ ]:
x= inputs_n
y= target

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x,y, random_state=0, train_size = 0.8)

In [ ]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [ ]:
y_predict = model.predict(X_test)

In [ ]:
model.score(X_test,y_test)

1.0

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_predict)

array([[110,   0],
       [  0,  69]])